<!-- Header/Navbar -->
<nav class="navbar navbar-expand-lg shadow-sm" style="background-color: oklch(0.99 0.005 240);">
    <div class="container-fluid text-white">
        <!-- Left: Logo + Title -->
        <a class="navbar-brand d-flex align-items-center text-white" routerLink="/">
            <i class="bi bi-mortarboard-fill me-3" style="color:oklch(0.45 0.15 240)"></i>
            <span style="color:black; font-weight: 500;">College Management System</span>
        </a>

        <!-- Right: Login & Register -->
        <div class="ms-auto">
            <a routerLink="/signin" class="btn btn-outline-custom btn-sm me-2">Login</a>
            <a routerLink="/signup" class="btn btn-custom btn-sm">Register</a>
        </div>

    </div>
</nav>