.sidebar .nav-link {
  color: oklch(0.15 0.02 240);
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar .nav-link:hover {
  background-color: oklch(60.315% 0.16172 248.547); /* soft green hover */
  color: #000;
}

.nav-link.active {
  background-color: #0d6efd; /* Bootstrap primary blue */
  border-radius: 8px;
  font-weight: bold;
}