<div class="d-flex" style="min-height: 100vh; background-color: oklch(0.99 0.005 240);">
<!-- Sidebar -->
<div class="sidebar p-3 text-white" style="width: 250px; background-color: oklch(0.45 0.15 240);">
  <h4 class="mb-4">College Management</h4>
  <ul class="nav flex-column">
    <li class="nav-item mb-2">
      <a routerLink="/"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         class="nav-link text-white">
        <i class="bi bi-house me-2"></i> Dashboard
      </a>
    </li>
    <li class="nav-item mb-2">
      <a routerLink="/students" routerLinkActive="active" class="nav-link text-white">
        <i class="bi bi-people me-2"></i> Students
      </a>
    </li>
    <li class="nav-item mb-2">
      <a routerLink="/courses" routerLinkActive="active" class="nav-link text-white">
        <i class="bi bi-journal me-2"></i> Courses
      </a>
    </li>
    <li class="nav-item mb-2">
      <a routerLink="/enrollments" routerLinkActive="active" class="nav-link text-white">
        <i class="bi bi-clipboard-check me-2"></i> Enrollments
      </a>
    </li>
    <li class="nav-item mb-2">
      <a routerLink="/teachers" routerLinkActive="active" class="nav-link text-white">
        <i class="bi bi-person-badge me-2"> </i> Teachers
      </a>
    </li>
  </ul>
</div>
